/*================================================
Default CSS
=================================================*/

.switch-box {
    position: fixed;
    z-index: 1;
    right: 3%;
    bottom: 63px;
}

.switch-box .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4d4949;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch-box .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2.5px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0px 15px #2020203d;
    box-shadow: 0 0px 15px #2020203d;
    background: url(../../assets/img/night.png);
    background-repeat: no-repeat;
    background-position: center;
}

.switch-box input:checked+.slider {
    background-color: #cbc1c1;
}

.switch-box input:focus+.slider {
    background-color: #4d4949;
}

.switch-box input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
    background: url(../img/sunny.png);
    background-repeat: no-repeat;
    background-position: center;
}

.switch-box .slider.round {
    border-radius: 50px;
}

.switch-box .slider.round:before {
    border-radius: 50%;
}

.theme-dark body {
    background-color: #000000;
    color: #f1f1f1;
}

.theme-dark p {
    color: #f1f1f1;
}

.theme-dark p a {
    color: #f1f1f1 !important;
}

.theme-dark p a:hover {
    color: #ff5740 !important;
}

.theme-dark a {
    color: #f1f1f1 !important;
}

.theme-dark a:hover {
    color: #ff5740 !important;
}

.theme-dark .h1,
.theme-dark .h2,
.theme-dark .h3,
.theme-dark .h4,
.theme-dark .h5,
.theme-dark .h6,
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
    color: #ffffff !important;
}

.theme-dark .h1 a,
.theme-dark .h2 a,
.theme-dark .h3 a,
.theme-dark .h4 a,
.theme-dark .h5 a,
.theme-dark .h6 a,
.theme-dark h1 a,
.theme-dark h2 a,
.theme-dark h3 a,
.theme-dark h4 a,
.theme-dark h5 a,
.theme-dark h6 a {
    color: #ffffff !important;
}

.theme-dark .h1 a:hover,
.theme-dark .h2 a:hover,
.theme-dark .h3 a:hover,
.theme-dark .h4 a:hover,
.theme-dark .h5 a:hover,
.theme-dark .h6 a:hover,
.theme-dark h1 a:hover,
.theme-dark h2 a:hover,
.theme-dark h3 a:hover,
.theme-dark h4 a:hover,
.theme-dark h5 a:hover,
.theme-dark h6 a:hover {
    color: #ff5740 !important;
}

.theme-dark .navbar-light {
    background-color: #2a2a2a !important;
}

.theme-dark .navbar-light .navbar-nav .nav-item a {
    color: #ffffff;
}

.theme-dark .navbar-light .navbar-nav .nav-item a:hover,
.theme-dark .navbar-light .navbar-nav .nav-item a:focus,
.theme-dark .navbar-light .navbar-nav .nav-item a.active {
    color: #ff5740 !important;
}

.theme-dark .navbar-light .others-option .option-item .social-icon li i {
    color: #ffffff;
}

.theme-dark .navbar-light .navbar-toggler {
    background: #fff;
}

.theme-dark .main-banner {
    background-image: unset;
    background-color: #0e0e0e;
}

.theme-dark .main-banner .banner-form {
    background-color: #000000;
}

.theme-dark .main-banner .banner-form form .form-control {
    color: #ffffff;
}

.theme-dark .main-banner .banner-form form .form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.theme-dark .main-banner .banner-form form .form-control:-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .main-banner .banner-form form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .main-banner .banner-form form .form-control::placeholder {
    color: #ffffff;
}

.theme-dark .page-title-area {
    background-image: unset;
    background-color: #272626;
}

.theme-dark .page-title-area ul li {
    color: #ffffff;
}

.theme-dark .single-fun-fact {
    background-color: #0e0e0e;
}

.theme-dark .single-features {
    background-color: #0e0e0e;
}

.theme-dark .video-content .video-btn i {
    color: #000000;
}

.theme-dark .overview-area {
    background-color: #0e0e0e;
}

.theme-dark .pricing-area {
    background-color: #222222;
}

.theme-dark .pricing-list-tab .tabs li a {
    background-color: #000000;
    color: #ffffff;
}

.theme-dark .pricing-list-tab .tabs li.current a {
    background-color: #ff5740;
    color: #ffffff;
}

.theme-dark .single-pricing-table {
    background-color: #000000;
}

.theme-dark .single-pricing-table .price {
    color: #ffffff;
}

.theme-dark .single-pricing-table .price sub {
    color: #ffffff;
}

.theme-dark .single-pricing-table .price sup {
    color: #ffffff;
}

.theme-dark .single-pricing-table .pricing-features li {
    color: #ffffff;
}

.theme-dark .faq-accordion-content .accordion .accordion-title {
    background-color: #0e0e0e;
}

.theme-dark .faq-accordion-content .accordion .accordion-content {
    background-color: #0e0e0e;
}

.theme-dark .team-area {
    background-color: #0e0e0e;
}

.theme-dark .single-team .image .content {
    background: #000000;
}

.theme-dark .blog-area {
    background-color: #0e0e0e;
}

.theme-dark .single-blog .content {
    background-color: #000000;
}

.theme-dark .single-blog .image .btn {
    background-color: #0e0e0e;
}

.theme-dark .single-team .image .social li a {
    background-color: #0e0e0e;
    color: #ffffff;
}

.theme-dark blockquote,
.theme-dark .blockquote {
    background-color: #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .features-list li {
    color: #ffffff;
}

.theme-dark .blog-details-desc .article-footer .article-tags span {
    color: #ffffff;
}

.theme-dark .blog-details-desc .article-footer .article-share .social li span {
    color: #ffffff;
}

.theme-dark .blog-details-desc .article-footer .article-share .social li a {
    color: #ffffff;
    background-color: #0e0e0e;
}

.theme-dark .comments-area {
    background-color: #0e0e0e;
}

.theme-dark .comments-area .comment-author .fn {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond label {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond input {
    color: #ffffff;
    color: #ffffff;
    background-color: #000000;
}

.theme-dark .comments-area .comment-respond input::-webkit-input-placeholder {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond input:-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond input::-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond input::placeholder {
    color: #ffffff;
}

.theme-dark .comments-area .comment-respond textarea {
    color: #ffffff;
    background-color: #000000;
}

.theme-dark .widget-area .widget_search {
    background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_search .search-field {
    color: #ffffff;
}

.theme-dark .widget-area .widget_search .search-field::-webkit-input-placeholder {
    color: #ffffff;
}

.theme-dark .widget-area .widget_search .search-field:-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .widget-area .widget_search .search-field::-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .widget-area .widget_search .search-field::placeholder {
    color: #ffffff;
}

.theme-dark .contact-form form .form-control {
    color: #ffffff;
}

.theme-dark .contact-form form .form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.theme-dark .contact-form form .form-control:-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .contact-form form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.theme-dark .contact-form form .form-control::placeholder {
    color: #ffffff;
}

.theme-dark .copy-right {
    background-color: #0e0e0e;
}

.theme-dark .pagination-area .page-numbers {
    background-color: #0e0e0e;
    color: #ffffff;
}

.theme-dark .pagination-area .page-numbers.current {
    background-color: #ff5740;
    color: #ffffff;
}

/*# sourceMappingURL=dark.css.map */